// Color ***************************************************************************************************************
// Nav-Bar
$navbar-bg: #EBF5FB;

// Body
$body-bg: #EBF5FB;
//$body-bg: #e5ecfa;

// Text
$text-color-black: #333333;
$text-color-white: #fbfbfb;


// Typography **********************************************************************************************************
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
